$buttons: (
    dark-blue: (
        background-color: $darkBlue,
        color: $white,
        border: 1px solid $darkBlue,
        background-hover: transparent,
        color-hover: $darkBlue
    ),
    white: (
        background-color: $white,
        color: $darkBlue,
        border: 1px solid $white,
        background-hover: transparent,
        color-hover: $white
    ),
);

.btn {
    display: block;
    min-width: 200px;
    padding: .5rem .8rem;
    transition: all .4s ease-in-out;

    @each $btnName, $btnStyles in $buttons {
        &--#{$btnName} {
            background-color: map-get($btnStyles, 'background-color');
            color: map-get($btnStyles, 'color');
            border: map-get($btnStyles, 'border');

            &:hover {
                background-color: map-get($btnStyles, 'background-hover');
                color: map-get($btnStyles, 'color-hover');
            }
        }
    }
}