.login-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: $red;
    padding: 2rem;
    border-radius: 5px;
    width: 90%;

    @media only screen and (min-width: 480px) {
        max-width: 50vw;
    }

    @media only screen and (min-width: 1000px) {
        max-width: 25vw;
    }

    &__label {
        display: block;
        width: 100%;
        color: $white;
        font-family: $font-roboto;
        font-weight: 400;
        margin: .5rem 0 ;
    }

    &__input {
        display: block;
        width: 100%;
        padding: .5rem;
        margin: .25rem 0;
    }
}