// Typography
$font-roboto: "Roboto Slab", serif;
$font-raleway: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$fff        : #FFF;
$white      : #FAF9F9;
$black      : #272727;
$darkBlue   : #009FB7;
$gold       : #FED766;
$red        : #DF0F0F;
