// Variables
@import 'variables';
@import 'buttons';

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    line-height: 1.5;
}

body {
    background-color: $white;
    font-size: 1.6rem;
}

a {
    transition: all .3s ease-in-out;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-raleway;
    margin: 0 0 .5rem;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.8rem;
}

p, a {
    font-family: $font-roboto;
    font-size: 1.6rem;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

#ml-app {
    width: 100%; height: 100%; display: block;
}

.login-screen {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;

    &__title {
        margin: 0 0 .5rem;
    }
}

.ml-header {
    width: 100%;
    padding: 2rem;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    font-size: 2rem;
    font-family: $font-raleway;
    color: $red;
    font-weight: 700;
    text-decoration: none;
}

.ml-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__item {
        position: relative;
    }

    &__link {
        padding: 0 .5rem;
        color: $black;
        text-decoration: none;

        &:hover {
            color: $red;

            + .ml-subnav {
                display: block;
            }
        }
    }
}

.ml-subnav {
    position: absolute;
    background: $fff;
    width: 200px;
    top: 99%;
    left: -50%;
    transform: translateX(-25%);
    display: none;

    &__link {
        padding: 1rem;
        text-decoration: none;
        color: $black;
        display: block;
        text-align: center;

        &:hover {
            background-color: $red;
            color: $white;
        }
    }

    &:hover {
        display: block;
    }
}

.ml-panel-container {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

.ml-panel {
    background: $fff;
    padding: 1rem;

    &__title {
        text-align: center;
    }

    &--total-films {
        text-align: center;
    }
}