.btn {
  display: block;
  min-width: 200px;
  padding: .5rem .8rem;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn--dark-blue {
  background-color: #009FB7;
  color: #FAF9F9;
  border: 1px solid #009FB7;
}

.btn--dark-blue:hover {
  background-color: transparent;
  color: #009FB7;
}

.btn--white {
  background-color: #FAF9F9;
  color: #009FB7;
  border: 1px solid #FAF9F9;
}

.btn--white:hover {
  background-color: transparent;
  color: #FAF9F9;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  line-height: 1.5;
}

body {
  background-color: #FAF9F9;
  font-size: 1.6rem;
}

a {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  margin: 0 0 .5rem;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

p,
a {
  font-family: "Roboto Slab", serif;
  font-size: 1.6rem;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

#ml-app {
  width: 100%;
  height: 100%;
  display: block;
}

.login-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-screen__title {
  margin: 0 0 .5rem;
}

.ml-header {
  width: 100%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo {
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  color: #DF0F0F;
  font-weight: 700;
  text-decoration: none;
}

.ml-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.ml-nav__item {
  position: relative;
}

.ml-nav__link {
  padding: 0 .5rem;
  color: #272727;
  text-decoration: none;
}

.ml-nav__link:hover {
  color: #DF0F0F;
}

.ml-nav__link:hover + .ml-subnav {
  display: block;
}

.ml-subnav {
  position: absolute;
  background: #FFF;
  width: 200px;
  top: 99%;
  left: -50%;
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
  display: none;
}

.ml-subnav__link {
  padding: 1rem;
  text-decoration: none;
  color: #272727;
  display: block;
  text-align: center;
}

.ml-subnav__link:hover {
  background-color: #DF0F0F;
  color: #FAF9F9;
}

.ml-subnav:hover {
  display: block;
}

.ml-panel-container {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.ml-panel {
  background: #FFF;
  padding: 1rem;
}

.ml-panel__title {
  text-align: center;
}

.ml-panel--total-films {
  text-align: center;
}

