@import url(https://fonts.googleapis.com/css?family=Nunito);.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #DF0F0F;
  padding: 2rem;
  border-radius: 5px;
  width: 90%;
}

@media only screen and (min-width: 480px) {
  .login-form {
    max-width: 50vw;
  }
}

@media only screen and (min-width: 1000px) {
  .login-form {
    max-width: 25vw;
  }
}

.login-form__label {
  display: block;
  width: 100%;
  color: #FAF9F9;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  margin: .5rem 0;
}

.login-form__input {
  display: block;
  width: 100%;
  padding: .5rem;
  margin: .25rem 0;
}

