<template>
    <div class="ml-panel ml-panel--total-films">
        <h3 class="ml-panel__title">Quick Add</h3>
        <form class="ml-quick-form" :action="submitTo" method="POST" @submit.prevent="quickAddFilm">
            <input v-model="film_name" name="film_name" placeholder="Film Name" type="text">
            <input v-model="film_date" name="film_date" placeholder="Date" type="date">
            <button type="submit">Submit</button>
        </form>
    </div>
</template>

<script>
    export default {
        name: 'DashboardQuickAdd',
        data: function() {
            return { 
                working: false, 
                added: true,
                film_name: null,
                film_date: null,
                submitTo: this.$rootPath+'app/add/quick'
            }
        },
        methods: {
            quickAddFilm() {
                this.$http
                    .post('/app/add/quick', {
                        filmName: this.film_name,
                        filmDate: this.film_date
                    })
                    .then(function(response) {
                        console.log(response);
                    })
                    .catch(function(error) {
                        console.log(error);
                    })
            }
        }
    }
</script>