<template>
    <div class="ml-panel ml-panel--total-films">
        <h3 class="ml-panel__title">Total Films</h3>
        <p><font-awesome-icon v-if="loading" :icon="['fas', 'sync']" spin></font-awesome-icon> {{totalfilms}}</p>
    </div>
</template>

<script>
    export default {
        name: 'DashboardTotalFilms',
        data: function() {
            return { totalfilms: null, loading: false }
        },
        created: function() {
            this.loading = true;
            this.$http
                .get('/app/fetch/totalfilms')
                .then((response) => {
                    this.loading = false;
                    this.totalfilms = response.data;
                }, (error) => {
                    this.loading = false;
                    this.totalfilms = error
                });
            console.log('Dashboard-TotalFilms Loaded');
        }
    }
</script>